/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Finger Paint', cursive;
	background: #eee;
	line-height: 1.6em;
}

.navbar {
	font-family: 'Bungee', cursive;
    font-size: 12px;
    margin-bottom: 5%;
}
.navbar-brand {
	font-weight: bolder;
	font-size: 20px;
}

#gallery h3 {
	border-left: 5px #666 solid;
	border-bottom: 1px #666 solid;
	padding: 0 0 5px 5px;
	color: #343a40;
	margin-bottom: 30px;
	font-family: 'Bungee', cursive;
}

#gallery img {
	width: 100%;  /*to make width of all image same*/
}

.col-md-3 {
	padding: 0;
}

footer {
	font-family: 'Bungee', cursive;
	background-color: #343a40!important;
	margin-top: 30px;
	height: 40px;
	text-align: center;
	color: white;
	padding-top: 10px;
}

.photo {
	text-align: center;
	position: relative;
}

.photo,
.photo-hover,
.photo-hover .mask,
.photo-img,
.photo-info {
	width: 285px; /*actual sizes of images*/
	height: 285px; /*actual sizes of images*/
}

.photo-img,
.photo-hover,
.photo-hover .mask {
	position: absolute;
	top: 0;
	left: 0;
}

.photo-type-line .photo-hover {
	z-index: 100;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
	opacity: 0;
	cursor: pointer;
	display: block;
	text-decoration: none;
	text-align: center;
}

.photo-type-line .photo-info {
	z-index: 10;
	color: white;
	display: table-cell; /*only table cell display makes vertical-align work*/
	vertical-align: middle;
	position: relative;
	padding: 25px;
}

.photo-type-line .photo-info .headline {
	font-size: 20px;
}

.photo-type-line .photo-info .line {
	height: 1px;
	width: 0;
	margin: 15px auto;
	background-color: white;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}

.photo-type-line .photo-hover .mask {
	background-color: black;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 0; /*behind everything else*/
}

.photo-type-line .photo-hover:hover .line {
	width: 40%; /*final width to which line stretches*/
}

.photo-type-line .photo-hover:hover {
	opacity: 1;
}

.photo-img {
	background: #cc2b5e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 0;
}